<form class="navbar-form" (submit)="onLogin($event)">
  <fieldset class="grid login-grid">
    <input
      type="text"
      name="login"
      placeholder="Login"
      aria-label="Login"
      autocomplete="username"
      [(ngModel)]="username"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      aria-label="Password"
      autocomplete="current-password"
      [(ngModel)]="password"
    />
    <button type="submit">Login</button>
  </fieldset>
</form>
