.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem 1rem 0.75rem; /* mniej góry, więcej dołu */
  border-bottom: 1px solid var(--pico-muted-border-color);
  background-color: var(--pico-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem; /* więcej przestrzeni pod navbarem */
}

.navbar-brand {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
