<h3>
  Samochody {{ reservedView ? 'zarezerwowane' : 'dostępne do rezerwacji' }}
</h3>

<!--<button (click)="reservedView = !reservedView">-->
<!--  Pokaż {{ reservedView ? 'dostępne' : 'zarezerwowane' }} auta-->
<!--</button>-->

<table>
  <thead>
  <tr>
    @for (key of getCarKeys(); track key) {
      <th scope="col">{{ key }}</th>
    }
    <th scope="col">Akcje</th>
  </tr>
  </thead>
  <tbody>
    @for (car of cars; track car.id) {
      <tr>
        @for (key of getCarKeys(); track key) {
          <td>{{ car[key] }}</td>
        }
        <td>
          <button
            (click)="reservedView ? reserveCar(car, false) : reserveCar(car, true)">
            {{ reservedView ? 'Zwolnij' : 'Zarezerwuj' }}
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="fetchCarsButton">
  <button (click)="fetchCars()">Zaktualizuj listę aut</button>
</div>
