<h3>
  Samochody {{ reservedView ? 'zarezerwowane' : 'dostępne do rezerwacji' }}
</h3>

@if (cars.length === 0) {
  <div class="placeholder-container">
    <article class="card">
      <p>Brak samochodów {{ reservedView ? 'zarezerwowanych' : 'dostępnych do rezerwacji' }}.</p>
    </article>
  </div>
}

@if (cars.length > 0) {
  <div class="car-grid">
    @for (car of cars; track car.id) {
      <article class="card">
        <section>
          @for (key of getCarKeys(); track key) {
            <p><strong>{{ key }}:</strong> {{ car[key] }}</p>
          }
        </section>
        <footer style="text-align: right;">
          <button
            (click)="reservedView ? releaseCar(car) : reserveCar(car)">
            {{ reservedView ? 'Zwolnij' : 'Zarezerwuj' }}
          </button>
        </footer>
      </article>
    }
  </div>
}
