<h3>
  Samochody {{ reservedView ? 'zarezerwowane' : 'dostępne do rezerwacji' }}
</h3>

<div class="car-grid">
  @for (car of cars; track car.id) {
    <article class="card">
      <section>
        @for (key of getCarKeys(); track key) {
          <p><strong>{{ key }}:</strong> {{ car[key] }}</p>
        }
      </section>
      <footer style="text-align: right;">
        <button
          (click)="reservedView ? reserveCar(car, false) : reserveCar(car, true)">
          {{ reservedView ? 'Zwolnij' : 'Zarezerwuj' }}
        </button>
      </footer>
    </article>
  }
</div>
